body{
  padding-top: 68px;
}
#header{
  position: fixed;
}
.postnav{
  position: fixed !important;
  background-color: #9cb9ff;
  z-index: 100;
  right: 0.6em !important;
}
.image-relative{
  position: relative;

}
.image-relative:hover .overlay{
  display: flex;
  transition: all 1s;
}

.overlay{
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 0.5;
}

.overlay h2{
  text-align: center;
  color: white !important;
}
